body{
    background-color: honeydew;
    font-family: Arial, Helvetica, Georgia, serif;
}
/*.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
*/
h1{
    font-weight: bold;
}
